# Entorno virtual de Python
/venv/
.venv/

# Archivos de la base de datos
db.sqlite3

# Archivos de Python generados
*.pyc
__pycache__/

# Entornos y variables de entorno
.env

# Sistema
.DS_Store

# Archivos de subida de media (archivos de los usuarios)
/media/

# Dependencias / artefactos
requirements.txt
