<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <title>Document</title>
</head>
<body>
    <div>
        Usuario: {{prueba.usuario}}
    </div>
    <div>
        Fecha de creación: {{prueba.fecha_creacion}}
    </div>
    <div>
        Cantidad de preguntas: {{prueba.cantidad_preguntas}}
    </div>
    <form method="post" action="{% url 'ejercicios:guardar-prueba' %}">
        {% csrf_token %}
    <div>
        {% for pregunta in preguntas %}
        <div>
           Tópico: {{ pregunta.topico }}
        </div>
        <div>
            {{ pregunta.num_pregunta }}:
        </div>
        <div>
            Enunciado Pregunta: {{ pregunta.enunciado }}
        </div>
        <div>
            $${{ pregunta.ejercicio }}$$
        </div>
        <div>
            <input type="hidden" name="prueba_id" value="{{prueba.id}}" />
        </div>
        <div>
            {% for alternativa in pregunta.alternativas %}
            <div>
                <input type="radio" name="pregunta_{{pregunta.id}}" id="{{alternativa.id}}" required {% if alternativa.respondida %} disabled {% endif %} value="{{alternativa.formula}}">
                $${{ alternativa.formula }}$$
                </input>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>
        <button type="submit" {% if prueba.completada %} disabled {% endif %} > Marcar alternativas </button>
    </div>
    </form>
</body>
</html>