<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <script>
        window.MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\\[', '\\]']],
                processEscapes: true,
                processEnvironments: true
            },
            options: {
                skipHtmlTags: ['script', 'noscript', 'style', 'textarea', 'pre']
            }
        };
    </script>
    <title>Document</title>
</head>
<body>
    <div>
        {{prueba.usuario}}
    </div>
    <div>
        {{prueba.fecha_creacion}}
    </div>
    <div>
        {% for pregunta in preguntas %}
        <div>
            {{ pregunta.topico }}
        </div>
        <div>
            {{ pregunta.num_pregunta }}
        </div>
        <div>
            {{ pregunta.encunciado }}
        </div>
        <div>
            $${{ pregunta.ejercicio }}$$
        </div>
        <div>
            {% for alternativa in pregunta.alternativas %}
            <div>
                {{ alternativa.orden }}:
                $${{ alternativa.formula }}$$
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>