<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Pruebas por Usuario</h1>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Prueba ID</th>
                        <th>Usuario</th>
                        <th>Fecha Creación</th>
                        <th>Fecha Completada</th>
                        <th>Completada</th>
                        <th>Cantidad Preguntas</th>
                        <th>Cantidad Correctas</th>
                        <th>Cantidad Incorrectas</th>
                        <th>Porcentaje de acierto</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prueba in pruebas %}
                    <tr>
                        <td>{{ prueba.id }}</td>
                        <td>{{ prueba.usuario }}</td>
                        <td>{{ prueba.fecha_creacion }}</td>
                        <td>{{ prueba.fecha_completada }}</td>
                        <td>{{ prueba.completada }}</td>
                        <td>{{ prueba.cantidad_preguntas }}</td>
                        <td>{{ prueba.correctas }}</td>
                        <td>{{ prueba.incorrectas }}</td>
                        <td>{% widthratio prueba.correctas prueba.cantidad_preguntas 100 %}%</td>
                        <td>
                            <a href="{% url 'ejercicios:obtener-prueba' %}?id={{ prueba.id }}">
                                <button type="button">Ver Prueba</button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>