<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Id de la prueba: {{ prueba.id }}
    </div>
    <div>
        Fecha de creación: {{ prueba.fecha_creacion }}
    </div>
    <div>
        Correctas: {{ prueba.correctas }}
    </div>
    <div>
        Incorrectas: {{ prueba.incorrectas }}
    </div>
    <div>
        Completada: {{ prueba.completada }}
    </div>
</body>
</html>